<?xml version="1.0"?>
<config>
    <modules>
        <InternetCode_Translator>
            <version>0.1.0</version>
        </InternetCode_Translator>
    </modules>
    <global>
        <models>
            <ic_translator>
                <class>InternetCode_Translator_Model</class>
                <resourceModel>ic_translator_resource</resourceModel>
            </ic_translator>
            <ic_translator_resource>
                <class>InternetCode_Translator_Model_Resource</class>
                <entities>
                    <missing>
                        <table>ic_translator_missing</table>
                    </missing>
                </entities>
            </ic_translator_resource>
            <core>
                <rewrite>
                    <translate>InternetCode_Translator_Model_Translate</translate>
                </rewrite>
            </core>
        </models>
        <blocks>
            <ic_translator>
                <class>InternetCode_Translator_Block</class>
            </ic_translator>
        </blocks>
        <helpers>
            <ic_translator>
                <class>InternetCode_Translator_Helper</class>
            </ic_translator>
        </helpers>
        <resources>
            <ic_translator_setup>
                <setup>
                    <module>InternetCode_Translator</module>
                </setup>
            </ic_translator_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <InternetCode_Translator before="-">InternetCode_Translator_Adminhtml</InternetCode_Translator>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
